    .button-menu{
        display: none;
    }
    .button-active{
        display: none;
    }
    .menu-active{
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-self: end;
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        background:none;
    }
    .items-link:hover{
        background-color: rgb(123, 150, 150);
        border-radius: 20px;
    }
    .menu{
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-self: end;
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        background:none;
        padding: 5px;
    }
    .items{
        width: 100%;
        height: 35px;
        text-align: center;
        font-size: medium;
    }
    .items:hover{
        border-radius: 10px;
    }