:root{
    --margin5:5px;
    --mrgn10:10px;
    --txt-sm:1.6rem;
    --txt-md:1.8rem;
    --txt-lg:2rem;
    --wht:rgb(208, 200, 228);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 100px 100px 100px 100px 1fr 1fr;
    gap: 10px;
    background-image: url('../img/image-background-2.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-bar{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 40px 46px 1fr 40px;
    grid-template-rows: 40px 1fr;
}

.bar-enlace{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 5px;
    place-self: center;
}
.bar-enlace:hover{
    background-color: rgb(192, 177, 177);
    border-radius: 5px;
}
.nav-bar .button-menu{
    width: 35px;
    height: 35px;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    padding: 5px;
    place-self: center;
}
.button-img{
    width: 25px;
    height: 25px;
}
.nav-bar .button-menu:hover{
    cursor: pointer;
    background-color: rgb(219, 197, 197);
    border-radius: 3px;
}
.button-close{
    display: none;
}
.button-active{
    width: 35px;
    height: 35px;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    padding: 5px;
    place-self: center;
}
.button-active:hover{
    cursor: pointer;
    background-color: rgb(219, 197, 197);
    border-radius: 3px;
}
.menu-active{
    grid-column: 3 / 5;
    grid-row: 3 / 3;
    background-color: rgb(66, 66, 83);
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
}

.close-image{
    width: 25px;
    height: 25px;
}
.items{
    width: 100%;
    height: 40px;
    margin-bottom: var(--margin5);
    text-align: center;
    font-size: medium;
}
.items-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    color: var(--wht);
    font-weight: bold;
}


.lateral{
    grid-column: 1 / 2;
    grid-row: 2 / 5; 
    writing-mode: vertical-rl;
    padding: 10px;
}
.lateral .container-lateral{
    opacity: 60%;
    color: var(--wht);
}
.container-lateral .container-title{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: var(--margin5);
}
.container-lateral .container-description{
    font-size: 1.4rem;
    margin-bottom: var(--margin5);
}
.container-lateral .container-seemore{
    font-size: 1.4rem;
    margin-bottom: var(--margin);
    display: block;
    width: 30px;
    height: 80px;
    border-radius: 5px;
    background-color: aqua;
    margin: var(--margin5);
    padding: 5px;
}

.hero{
    grid-column: 2 / 6;
    grid-row: 2 / 5;
    background-image: url('../img/arches-1850730_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: start;
    writing-mode: sideways-rl;
    direction: rtl;
}
.hero .hero-info{
    width: 80%;
    padding: 5px;
    color: var(--wht);
}
.hero-info .hero-info_title{
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 1.8px;
    font-weight: bold;
    margin-bottom: 5px;
}
.hero-info .hero-info_desc{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.hero-info .hero-info_seemore{
    display: grid;
    font-size: 1.6rem;
    margin-bottom: 5px;
    width: 100px;
    height: 35px; 
}
.hero-info_seemore .seemore{
    place-self: center;
    font-weight: bold;
    color: aquamarine;
}
.hero-info_seemore:hover{
    background-color: rgb(131, 118, 118);
    border-radius: 15px;
}
.info{
    margin-top: 50px;
    grid-column: 1 / 6;
    grid-row: 5 / 7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap:10px;
    width: 80%;
    justify-self: center;
    color: var(--wht);
}
.info .infoparrafo{
    padding: 5px;
}
.info-title{
    font-size: var(--txt-md);
    font-weight: bold;
    margin-bottom: 10px;
}
.info-descripcion{
    font-size: 1.6rem;
    margin-bottom: var(--margin5);
}
.info-enlace{
    font-size: var(--txt-md);
    color: rgb(135, 135, 216);
}
.card-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 10px;
}
.info-image{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
footer{
    grid-column: 1 / 6;
    grid-row: 7 / 8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    width: 70%;
    justify-self: center;
    color: rgb(208, 200, 228);
}
.contact-title{
    font-size: var(--txt-md);
    margin-bottom: var(--mrgn10);
}
.contact-descripcion{
    font-size: var(--txt-sm);
    margin-bottom: 10px;
}
.correo-name{
    font-size: var(--txt-sm);
    font-weight: bold;
    margin-bottom: var(--mrgn10);
}
.menu{
    display: none;
}

